/* 

primary #e67e22
tints #fdf2e9
gray #343a40

SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/
* {
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* 当font-size为百分数时，font-size是基于用户浏览器默认的值的百分比。所以使用百分比不会破坏用户的自定义设置*/
  /* chrome 默认font-size 是16px 16*0.625 = 10 */
  /* font-size = 62.5%时，fonte-size的实际值为10px，方便计算。 */
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
  color: #343a40;
}

.hero {
  background-color: #fdf2e9;
}

.hero-container {
  max-width: 130rem;
  margin: 0 auto;
  padding: 2rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6.4rem;
  align-items: center;
}

.hero-title {
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.05;
  letter-spacing: -0.5px;

  margin-bottom: 4.8rem;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.5;

  margin-bottom: 4.8rem;
}

.hero-btn:any-link {
  display: inline-block;
  padding: 1.6rem 3.2rem;

  font-size: 2.4rem;
  font-weight: 500;
  text-decoration: none;

  border-radius: 9px;
}

.btn-cta {
  background-color: #e67e22;
  color: #fff;
  margin-right: 2rem;
}

.btn-down{
  background-color: #f8d8bd;
  color: #343a40;
  
}

.hero-img {
  width: 100%;
}
